#remote_data {
    padding-top: 20px;
    height: 150px;
}

span.rifflabel{
    display: inline-block;
    width: 170px !important;
}

.radiocol {
    display:  inline-block;
}


.riffchart-chart{
    margin-left: 120px;
}